*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #cbcbcb;
}
.parent{
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.card{
  background-color: #ffffff;
  padding: 20px;
  width: 350px;
  margin: 20px;
  border-radius: 30px ;
}
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  margin: 10px 0;
}
.top img{
  object-fit: cover;
  height: 55px;
  padding: 3px;
  width: 55px;
  border-radius: 50%;
  border: 2px solid rgb(140, 140, 140);
}
.top button{
  padding: 4px 6px;
  font-weight: 500;
  border-radius: 3px;
  outline: none;

}
.hero{
  margin-bottom: 60px;

}
.hero   #time{
  font-size: medium;
  font: 300;
  color: #797979;
}

.hero h1{
  font: bold;
  font-size: 1.72rem;
  margin: 4px 0;
}
.button span{
  padding: 3px 5px;
  background-color: #c3c2c2;
  font: 600;
}
.button :first-child{
  margin-right: 4px;
}
.buttom{
  display: flex;
  margin-top: 30px;
  border-top: 1px solid #797979;
  justify-content: space-between;
  align-items: center;
}
.buttom button{
  background-color: #111;
  color: #cbcbcb;
  padding: 5px 10px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
}
.buttom .butmDiv{
  font-size: .7rem;
}